# {{ ansible_managed }}

deb http://download.opensuse.org/repositories/home:/CZ-NIC:/knot-resolver-latest/{{ ansible_os_family }}_{{ ansible_distribution_major_version }} /
# deb https://deb.knot-dns.cz/knot-latest/ {{ ansible_distribution_release | lower }} main
